extends layout

block content
  #container.container          
    -if(messages.length > 0)
      #note.alert.alert-success(role='alert')
        #message #{messages}        
    
    #login.row
      p
        a(href='https://www.fitbit.com/oauth2/authorize?scope=profile%20activity&response_type=code&redirect_uri=https%3A%2F%2Fsteprival.com%2Fauth%2Ffitbit%2Fcallback&client_id=227FL7') Login with Fitbit      
      p 
        a(href='https://api.misfitwearables.com/auth/dialog/authorize?response_type=code&scope=public,birthday,email&redirect_uri=https%3A%2F%2Fsteprival.com%2Fauth%2Fmisfit%2Fcallback&client_id=OdNuoUPNBuqHnzqh') Login with Mistfit
