extends layout

block content
  #container.container          
    -if(messages.length > 0)
      #note.alert.alert-success(role='alert')
        #message #{messages}        
    
    #logged-in.row
      -if(user)
        #username
          p Welcome #{user.displayName}!
