extends layout

block content
  #container.container          
    -if(messages.length > 0)
      #note.alert.alert-success(role='alert')
        #message #{messages}        
    
    #logged-in.row
      -if(user)
        #username
          -if(user.profile.avatar)
            img(src=user.profile.avatar)
          p Welcome #{user.displayName}!
          my-app Loading...
